* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mr-10 {
    margin-right: 10px;
}

input {
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
}

/* 左边 */
.logo-left {
    width: 325px;
    padding: 0 25px;
    position: absolute;
    left: 0;
    top: 30px;
    border-right:  1px solid #e4e4e4;
}

.logo-img-add {
    height: 230px;
    border: 1px dashed #ccc;
    margin-bottom: 25px;
}

.logo-name {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.input-text {
    line-height: 40px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding: 0 10px;
    border: 0;
    display: block;
    outline: none;
}

.add-sub-title {
    position: relative;
    border: 0;
}

.add-sub-title.active {
    border: 1px solid #eee;
}

.add-sub-title:after {
    content: "+ 添加副标题";
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #1d9ed7;
    background-color: #fff;
}

.add-sub-title.active:after {
    display: none;
}

/* 右边 */

.logo-right {
    padding-left: 350px;
    padding-top: 30px;
    padding-right: 30px;
}

.select-theme {
    margin-right: 20px;
}

.logo-color-picker {
    margin-top: -2px;
}

.tip {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 20px;
    text-align: center;
    line-height: 15px;
}

.tip:hover {
    cursor: pointer;
}

.logo-size {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}

.canvas {
    display: block;
}

.canvas-box {
    margin-top: 20px;
}