* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mr-10 {
    margin-right: 10px;
}

.mt-20 {
    margin-top: 20px;
}

input {
    box-sizing: border-box;
    padding-left: 5px;

    border: none;
    outline: none;
}

/* 左边 */
.logo-left {
    position: absolute;
    top: 30px;
    left: 0;

    width: 325px;
    padding: 0 25px;

    border-right: 1px solid #e4e4e4;
}

.logo-img-add {
    line-height: 230px;

    position: relative;

    height: 230px;
    margin-bottom: 25px;

    text-align: center;

    border: 1px dashed #ccc;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
}

.logo-img-add.nopic:after {
    content: '+选择logo素材';

    color: #ccc;
}

.img-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.img-delete:hover {
    color: #f00;
    cursor: pointer;
}

.preview-img {
    display: inline-block;

    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
}

.logo-name {
    font-size: 16px;
    line-height: 40px;

    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    /*border: 1px solid #eee;*/
}

.input-text {
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;
    padding: 0 10px;

    border: 0;
    outline: none;
    background-color: transparent;
}

.add-sub-title {
    position: relative;

    border: 0;
}

.add-sub-title.active {
    /*border: 1px solid #eee;*/
}

.add-sub-title:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '+ 添加副标题';
    cursor: pointer;

    color: #1d9ed7;
    background-color: #fff;
}

.add-sub-title.active:after {
    display: none;
}

/* 右边 */

.logo-right {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 350px;
}

.select-theme {
    margin-right: 20px;
}

.logo-color-picker {
    /*margin-top: -2px;*/
}

.color-picker {
    width: 84px !important;
    padding-right: 0 !important;
}

.tip {
    font-size: 12px;
    font-style: normal;
    line-height: 15px;

    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-left: 10px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #ccc;
}

.tip:hover {
    cursor: pointer;
}

.logo-size {
    font-size: 14px;

    margin-top: 10px;

    color: #666;
}

/*.logo-size-input {
    width: 100px !important;
}*/

.canvas {
    display: block;
}

.canvas-box {
    position: relative;

    display: inline-block;

    margin-top: 20px;

    background-image: url('transparent_bg.png');
}

.canvas-help:after {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;

    width: 100%;
    margin-top: -.5px;

    content: '';

    border-bottom: 1px dashed #fff;
}

.canvas-help:before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    height: 100%;
    margin-left: -.5px;

    content: '';

    border-left: 1px dashed #fff;
}

.upload {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

.logo-img {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 10px;

    width: 0;
    height: 0;

    cursor: move;
    /* border: 0px dashed #ccc; */
}

.logo-pic {
    display: block;

    width: 100%;
    height: 100%;
}

.logo-title {
    line-height: 1;

    position: absolute;
    z-index: 1;
    top: 15px;
    left: 100px;

    cursor: move;

    color: #fff;
}

.logo-title:hover:after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border: 1px dashed #07eb2d;
}

.logo-sub-title {
    line-height: 1;

    position: absolute;
    z-index: 1;
    top: 55px;
    left: 100px;

    cursor: move;

    color: #fff;
}

.logo-sub-title:hover:after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border: 1px dashed #07eb2d;
}


.pic-times {
    position: relative;

    width: 100px;
    /*line-height: 20px;*/
    height: 22px;

    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

.text-picker .minicolors-swatch {
    top: 0;
}

.logo-label {
    line-height: 26px;
}


.logo-text-picker .minicolors-theme-default.minicolors {
    /*height: 22px;*/
}

.logo-text-picker .minicolors-swatch {
    /*top: 1px;*/
}

.text-info {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.relative {
    position: relative;
}


.fix-mt-5 {
    margin-top: 15px;
    margin-right: 5px;
}

.result {
    position: absolute;
    top: 0;
    right: 0;
}

.select-icon {
    position: absolute;
    z-index: -1;
    top: 8px;
    right: 5px;
}

.select-input {
    background-color: transparent !important;
}

.fix-box {
    width: 84px !important;
    margin-right: 5px;
}

.fix-box-input {
    width: 54px !important;
    margin-right: 5px;
}

.fix-box-input .el-input__inner {
    padding: 0 10px !important;
}

.theme-fix-box {
    width: 150px !important;
    margin-right: 5px;
}


/*弹窗*/
.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: rgba(0,0,0,.5);
}

.dialog-box {
    display: inline-block;
    width: 440px;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    text-align: left;
    overflow: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 13;
    margin-left: -220px;
    margin-top: -100px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

.check-tip {
    display: inline-block;
}

.checkbox {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46)
}

.checkbox:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;

}

.checkbox:hover {
    border-color: #409eff;
}

.check-tip {
    margin-top: 20px;
    user-select: none;
}

.check-tip.select .checkbox {
    background-color: #409eff;
    border-color: #409eff;
}

.check-tip.select .checkbox:after {
    transform: rotate(45deg) scaleY(1);
}

.check-tip:hover {
    cursor: pointer;
}

.dialog-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.dialog-close:hover {
    color: #409eff;
    cursor: pointer;
}