* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mr-10 {
    margin-right: 10px;
}

input {
    box-sizing: border-box;
    padding-left: 5px;

    outline: none;
}

/* 左边 */
.logo-left {
    position: absolute;
    top: 30px;
    left: 0;

    width: 325px;
    padding: 0 25px;

    border-right: 1px solid #e4e4e4;
}

.logo-img-add {
    line-height: 230px;

    position: relative;

    height: 230px;
    margin-bottom: 25px;

    text-align: center;

    border: 1px dashed #ccc;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
}

.preview-img {
    display: inline-block;

    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
}

.logo-name {
    font-size: 16px;
    line-height: 40px;

    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    border: 1px solid #eee;
}

.input-text {
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;
    padding: 0 10px;

    border: 0;
    outline: none;
    background-color: transparent;
}

.add-sub-title {
    position: relative;

    border: 0;
}

.add-sub-title.active {
    border: 1px solid #eee;
}

.add-sub-title:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '+ 添加副标题';
    cursor: pointer;

    color: #1d9ed7;
    background-color: #fff;
}

.add-sub-title.active:after {
    display: none;
}

/* 右边 */

.logo-right {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 350px;
}

.select-theme {
    margin-right: 20px;
}

.logo-color-picker {
    margin-top: -2px;
}

.tip {
    font-size: 12px;
    font-style: normal;
    line-height: 15px;

    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-left: 20px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #ccc;
}

.tip:hover {
    cursor: pointer;
}

.logo-size {
    font-size: 14px;

    margin-top: 10px;

    color: #666;
}

.logo-size-input {
    width: 100px;
}

.canvas {
    display: block;
}

.canvas-box {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.canvas-help:after {
    position: absolute;
    z-index: 1111;
    top: 50%;
    left: 0;

    width: 100%;
    margin-top: -.5px;

    content: '';

    border-bottom: 1px dashed #fff;
}

.canvas-help:before {
    position: absolute;
    z-index: 1111;
    top: 0;
    left: 50%;

    height: 100%;
    margin-left: -.5px;

    content: '';

    border-left: 1px dashed #fff;
}

.upload {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

.logo-img {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 10px;

    width: 0;
    height: 0;

    cursor: move;
    /* border: 0px dashed #ccc; */
}

.logo-pic {
    display: block;

    width: 100%;
    height: 100%;
}

.logo-title {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 100px;

    cursor: move;

    color: #fff;
}

.logo-title:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #07eb2d;
}

.logo-sub-title {
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 100px;

    cursor: move;

    color: #fff;
}

.logo-sub-title:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #07eb2d;
}


.pic-times {
    width: 100px;
    position: relative;
    background-color: transparent;
    outline: none;
    border: 1px solid #ccc;
    /*line-height: 20px;*/
    height: 22px;
}

.icon-reduce,
.icon-plus {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    
}

.icon-reduce:hover,
.icon-plus:hover {
    cursor: pointer;
    background-color: #eee
}

.text-picker .minicolors-swatch {
    top: 0;
}

.logo-text-picker {
    display: inline-block;
}

.logo-text-picker .minicolors-theme-default.minicolors {
    height: 22px;
}

.logo-text-picker .minicolors-swatch {
    top: 1px;
}

.text-info {
    display: inline-block;
}

.hidden {
    display: none;
}
